<div class="container">
  <br>
  <h2 class="page-header" style="text-align: center">{{ title }}</h2>
  <div class="col-lg-3"></div>
  <form (submit) = "createEmployee()" class="form-horizontal col-lg-6">
      <fieldset>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" [(ngModel)] = "name" id="inputName" placeholder="Name" name="name"  class="form-control">
      </div>
    </div>
    <div class="form-group">
        <label for="inputAge" class="col-lg-2 control-label">Age</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)] = "age" id="inputAge" placeholder="Age" name="age"  class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" [(ngModel)] = "email" id="inputEmail" placeholder="Email" name="email"  class="form-control">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <input type="submit" class="btn btn-primary" value="Add">
            <a [routerLink]="['/employees']" routerLinkActive="active">
              <input type="button" value="Cancel" class="btn">
            </a>
        </div>
      </div>
    
    </fieldset>
  </form>
  <div class="col-lg-3"></div>
</div>




